In [5]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [6]:
path = (r'C:\Users\Admin\Desktop\GKD\Data-science-GitHub\MauBaoCao\data-month\sales2019_1.csv')
df = pd.read_csv(path)
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

## Task 2: Clean and Preprocess data

### Task 2.1: Merge 1month and 5month data

In [7]:
#Path=os.listdir(r'C:\Users\Admin\Desktop\GKD\Data-science-GitHub\MauBaoCao\data-month')

filepaths = []
for file in os.listdir(path):
        if file.endswith('.csv'):
            filepath = path + file
            filepaths.append(filepath)

NotADirectoryError: [WinError 267] The directory name is invalid: 'C:\\Users\\Admin\\Desktop\\GKD\\Data-science-GitHub\\MauBaoCao\\data-month\\sales2019_1.csv'