In [46]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import Binarizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('D:\GKD\ML\BUOI2\WA_Fn-UseC_-Sales-Win-Loss.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78025 entries, 0 to 78024
Data columns (total 19 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Opportunity Number                       78025 non-null  int64
 1   Supplies Subgroup                        78025 non-null  object
 2   Supplies Group                           78025 non-null  object
 3   Region                                   78025 non-null  object
 4   Route To Market                          78025 non-null  object
 5   Elapsed Days In Sales Stage              78025 non-null  int64
 6   Opportunity Result                       78025 non-null  object
 7   Sales Stage Change Count                 78025 non-null  int64
 8   Total Days Identified Through Closing    78025 non-null  int64
 9   Total Days Identified Through Qualified  78025 non-null  int64
 10  Opportunity Amount USD                   78025 non-null  int64
 11  Client Size By Revenue                   78025 non-null  int64
 12  Client Size By Employee Count            78025 non-null  int64
 13  Revenue From Client Past Two Years       78025 non-null  int64
 14  Competitor Type                          78025 non-null  object
 15  Ratio Days Identified To Total Days      78025 non-null  float64
 16  Ratio Days Validated To Total Days       78025 non-null  float64
 17  Ratio Days Qualified To Total Days       78025 non-null  float64
 18  Deal Size Category                       78025 non-null  int64
dtypes: float64(3), int64(10), object(6)
memory usage: 11.3+ MB

In [4]:
data.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,0,5,5,0,Unknown,0.69636,0.113985,0.154215,1
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,0,3,5,0,Unknown,0.00000,1.000000,0.000000,1
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,7750,1,1,0,Unknown,1.00000,0.000000,0.000000,1
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,0,1,1,0,Known,1.00000,0.000000,0.000000,1
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,69756,1,1,0,Unknown,0.00000,0.141125,0.000000,4

In [5]:
data.dtypes

Opportunity Number                           int64
Supplies Subgroup                           object
Supplies Group                              object
Region                                      object
Route To Market                             object
Elapsed Days In Sales Stage                  int64
Opportunity Result                          object
Sales Stage Change Count                     int64
Total Days Identified Through Closing        int64
Total Days Identified Through Qualified      int64
Opportunity Amount USD                       int64
Client Size By Revenue                       int64
Client Size By Employee Count                int64
Revenue From Client Past Two Years           int64
Competitor Type                             object
Ratio Days Identified To Total Days        float64
Ratio Days Validated To Total Days         float64
Ratio Days Qualified To Total Days         float64
Deal Size Category                           int64
dtype: object

In [6]:
data.groupby("Region").size()

Region
Mid-Atlantic     7568
Midwest         21020
Northeast        7358
Northwest        9552
Pacific         15142
Southeast        9232
Southwest        8153
dtype: int64

# Build binary features by creating thresholds
### Feature: thuộc tính 
Các thông số mô tả một đối tượng nào đó. Ví dụ thuộc tính màu da, chiều cao, cân nặng để mô tả một đối tượng con người
### Threshold: ngưỡng
Giá trị xác định các mức độ các nhau. Ví dụ 4 điểm là ngưỡng đậu hoặc rớt một môn
### Binarize
Quá trình chia dữ liệu dạng chữ thành 2 label: 0 và 1

In [12]:
# creat a new column named "Result"
lb = preprocessing.LabelBinarizer()
data["Result"] = lb.fit_transform(data["Opportunity Result"])

data.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,Result
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,0,5,5,0,Unknown,0.69636,0.113985,0.154215,1,1
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,0,3,5,0,Unknown,0.00000,1.000000,0.000000,1,0
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,7750,1,1,0,Unknown,1.00000,0.000000,0.000000,1,1
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,0,1,1,0,Known,1.00000,0.000000,0.000000,1,0
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,69756,1,1,0,Unknown,0.00000,0.141125,0.000000,4,0

# with threshold

In [13]:
data.describe()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,Result
count,7.802500e+04,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000
mean,7.653429e+06,43.595348,2.955732,16.728356,16.314348,91637.260750,1.620481,1.604050,0.303287,0.203063,0.488314,0.185048,3.436745,0.225915
std,1.054848e+06,26.585600,1.497242,16.729593,16.562597,133161.029156,1.235796,1.210744,0.930290,0.364985,0.448077,0.340283,1.656890,0.418186
min,1.641984e+06,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,6.900423e+06,19.000000,2.000000,4.000000,4.000000,15000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
50%,7.545569e+06,43.000000,3.000000,12.000000,12.000000,49000.000000,1.000000,1.000000,0.000000,0.000000,0.448000,0.000000,3.000000,0.000000
75%,8.228329e+06,65.000000,3.000000,24.000000,24.000000,105099.000000,1.000000,1.000000,0.000000,0.197225,1.000000,0.188552,5.000000,0.000000
max,1.009427e+07,210.000000,23.000000,208.000000,208.000000,1000000.000000,5.000000,5.000000,4.000000,1.000000,1.000000,1.000000,7.000000,1.000000

In [16]:
# dùng mức 75$ để chia làm 2 lable
# Elapsed Days In Sales Stage và Ratio Days Identified To Total Days

binarizer_elapsedDays = Binarizer(threshold = 65) # binarizer_elapsedDays: Bạn đang tạo một đối tượng Binarizer với ngưỡng là 65 cho cột "Elapsed Days In Sales Stage". Điều này có nghĩa là tất cả các giá trị lớn hơn 65 sẽ được chuyển thành 1, và tất cả các giá trị nhỏ hơn hoặc bằng 65 sẽ được chuyển thành 0.
binarizer_ratioDaysIden = Binarizer(threshold = 0.19) # binarizer_ratioDaysIden: Bạn cũng tạo một đối tượng Binarizer khác với ngưỡng là 0.19 cho cột "Ratio Days Identified To Total Days". Điều này có nghĩa là tất cả các giá trị lớn hơn 0.19 sẽ được chuyển thành 1, và tất cả các giá trị nhỏ hơn hoặc bằng 0.19 sẽ được chuyển thành 0.

In [17]:
elapsedDays = data ["Elapsed Days In Sales Stage"].values.reshape(1,-1)
ratioDaysIden = data["Ratio Days Identified To Total Days"].values.reshape(1,-1)

#reshape (1,-1) chuyển cột giá trị thành vector giá trị

In [25]:
elapsedDays
#Đây là một mảng 2D có một hàng và nhiều cột. Mỗi phần tử trong hàng này là một giá trị của biến "Elapsed Days In Sales Stage" cho từng mẫu dữ liệu.

array([[76, 63, 24, ...,  0,  0,  0]], dtype=int64)

In [22]:
elapsedDays_binary = binarizer_elapsedDays.fit_transform(elapsedDays)
ratioDaysIden_binary = binarizer_ratioDaysIden.fit_transform(ratioDaysIden)

In [23]:
elapsedDays_binary

array([[1, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Build Linear Model with Outliers
- Outlier của một feature là giá trị khác xa hoàn toàn với các giá trị còn lại của feature đó
- Outlier ảnh hưởng đến độ chính xác của mô hình máy học

In [67]:
data.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,Result
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,0,5,5,0,Unknown,0.69636,0.113985,0.154215,1,1
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,0,3,5,0,Unknown,0.00000,1.000000,0.000000,1,0
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,7750,1,1,0,Unknown,1.00000,0.000000,0.000000,1,1
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,0,1,1,0,Known,1.00000,0.000000,0.000000,1,0
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,69756,1,1,0,Unknown,0.00000,0.141125,0.000000,4,0

In [50]:
## similarly , ve encode the rest of the categorical features
le = preprocessing.LabelEncoder() # Đoạn mã này sử dụng LabelEncoder từ module preprocessing của thư viện sklearn để mã hóa các đặc trưng phân loại (categorical features).
                                  #  Tạo một đối tượng LabelEncoder để mã hóa các giá trị phân loại thành các số nguyên.

In [68]:
#bạn có thể sử dụng phương thức fit_transform() để áp dụng mã hóa cho các cột chứa các đặc trưng phân loại. Phương thức này sẽ học các nhãn duy nhất trong mỗi cột và gán cho mỗi nhãn một số nguyên duy nhất.

data['Supplies_Subgroup_Encoded'] = le.fit_transform(data['Supplies Subgroup'])
data['Supplies_Group_Encoded'] = le.fit_transform(data['Supplies Group'])
data['Region_Encoded'] = le.fit_transform(data['Region'])
data['Route_To_Market_Encoded'] = le.fit_transform(data['Route To Market'])
data['Competitor_Type_Encoded'] = le.fit_transform(data['Competitor Type'])

In [69]:
data.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,...,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,Result,Supplies_Subgroup_Encoded,Supplies_Group_Encoded,Region_Encoded,Route_To_Market_Encoded,Competitor_Type_Encoded
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,...,0.69636,0.113985,0.154215,1,1,2,0,3,0,2
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,...,0.00000,1.000000,0.000000,1,0,2,0,4,2,2
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,...,1.00000,0.000000,0.000000,1,1,5,2,4,2,2
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,...,1.00000,0.000000,0.000000,1,0,8,2,1,2,0
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,...,0.00000,0.141125,0.000000,4,0,2,0,4,2,2

In [70]:
final_data = data.drop(['Supplies Subgroup', 'Supplies Group', 'Region', 'Route To Market', 'Competitor Type', 'Opportunity Result'], axis=1)

In [71]:
final_data.head()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,Result,Supplies_Subgroup_Encoded,Supplies_Group_Encoded,Region_Encoded,Route_To_Market_Encoded,Competitor_Type_Encoded
0,1641984,76,13,104,101,0,5,5,0,0.69636,0.113985,0.154215,1,1,2,0,3,0,2
1,1658010,63,2,163,163,0,3,5,0,0.00000,1.000000,0.000000,1,0,2,0,4,2,2
2,1674737,24,7,82,82,7750,1,1,0,1.00000,0.000000,0.000000,1,1,5,2,4,2,2
3,1675224,16,5,124,124,0,1,1,0,1.00000,0.000000,0.000000,1,0,8,2,1,2,0
4,1689785,69,11,91,13,69756,1,1,0,0.00000,0.141125,0.000000,4,0,2,0,4,2,2

In [76]:
# Tạo biến y chứa cột "result" là nhãn của dữ liệu
y = final_data["Result"]
# Tạo biến x chứa tất cả các cột trừ cột "result", là các đặc trưng của dữ liệu
X = final_data.loc[:,final_data.columns != "Result"]

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print (X_train. shape, y_train. shape)
print (X_test.shape, y_test.shape)

(62420, 18) (62420,)
(15605, 18) (15605,)

In [80]:
# build the model vithout removing any outliers
logreg = LogisticRegression ()
logreg.fit(X_train, y_train)

LogisticRegression()

In [84]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.78

# Imputing missing values using sklearn impute

In [27]:
data1 = pd.read_csv("D:\GKD\ML\BUOI2\diabetes.csv")

In [28]:
data.describe()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,Result
count,7.802500e+04,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000
mean,7.653429e+06,43.595348,2.955732,16.728356,16.314348,91637.260750,1.620481,1.604050,0.303287,0.203063,0.488314,0.185048,3.436745,0.225915
std,1.054848e+06,26.585600,1.497242,16.729593,16.562597,133161.029156,1.235796,1.210744,0.930290,0.364985,0.448077,0.340283,1.656890,0.418186
min,1.641984e+06,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,6.900423e+06,19.000000,2.000000,4.000000,4.000000,15000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
50%,7.545569e+06,43.000000,3.000000,12.000000,12.000000,49000.000000,1.000000,1.000000,0.000000,0.000000,0.448000,0.000000,3.000000,0.000000
75%,8.228329e+06,65.000000,3.000000,24.000000,24.000000,105099.000000,1.000000,1.000000,0.000000,0.197225,1.000000,0.188552,5.000000,0.000000
max,1.009427e+07,210.000000,23.000000,208.000000,208.000000,1000000.000000,5.000000,5.000000,4.000000,1.000000,1.000000,1.000000,7.000000,1.000000

In [29]:
data1.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [32]:
# value of 0 means missing values for the following columns
# Plasma glucose concentration (Glucose)
# Diastotic blood pressure (BloodPressure)
# Triceps skinfold thickness (SkinThickNess)
# 2-hour serum insulin (Insulin)
# Body mass index (BMI)

# Giá trị bằng 0 có nghĩa là thiếu giá trị cho các cột sau
# Nồng độ glucose huyết tương (Glucose)
# Huyết áp tâm trương (Huyết áp)
# Độ dày nếp da cơ tam đầu (SkinThickNess)
# Insulin huyết thanh 2 giờ (Insulin)
#Chỉ số khối cơ thể (BMI)

"""Đoạn comment mà bạn cung cấp giải thích rằng giá trị bằng 0 trong các cột tương ứng có ý nghĩa là thiếu dữ liệu cho các thuộc tính sau:

Nồng độ glucose huyết tương (Glucose): Giá trị 0 có thể đại diện cho việc không có dữ liệu được thu thập hoặc dữ liệu bị thiếu cho thuộc tính này.
Huyết áp tâm trương (Huyết áp): Tương tự, giá trị 0 có thể chỉ ra rằng không có thông tin về huyết áp được thu thập hoặc dữ liệu bị thiếu.
Độ dày nếp da cơ tam đầu (SkinThickNess): Giá trị 0 có thể đại diện cho việc không có dữ liệu về độ dày nếp da được thu thập hoặc dữ liệu bị thiếu.
Insulin huyết thanh 2 giờ (Insulin): Tương tự như các thuộc tính trước, giá trị 0 có thể chỉ ra rằng không có thông tin về insulin được thu thập hoặc dữ liệu bị thiếu.
Chỉ số khối cơ thể (BMI): Một lần nữa, giá trị 0 có thể đại diện cho việc không có thông tin về chỉ số khối cơ thể hoặc dữ liệu bị thiếu."""

'Đoạn comment mà bạn cung cấp giải thích rằng giá trị bằng 0 trong các cột tương ứng có ý nghĩa là thiếu dữ liệu cho các thuộc tính sau:\n\nNồng độ glucose huyết tương (Glucose): Giá trị 0 có thể đại diện cho việc không có dữ liệu được thu thập hoặc dữ liệu bị thiếu cho thuộc tính này.\nHuyết áp tâm trương (Huyết áp): Tương tự, giá trị 0 có thể chỉ ra rằng không có thông tin về huyết áp được thu thập hoặc dữ liệu bị thiếu.\nĐộ dày nếp da cơ tam đầu (SkinThickNess): Giá trị 0 có thể đại diện cho việc không có dữ liệu về độ dày nếp da được thu thập hoặc dữ liệu bị thiếu.\nInsulin huyết thanh 2 giờ (Insulin): Tương tự như các thuộc tính trước, giá trị 0 có thể chỉ ra rằng không có thông tin về insulin được thu thập hoặc dữ liệu bị thiếu.\nChỉ số khối cơ thể (BMI): Một lần nữa, giá trị 0 có thể đại diện cho việc không có thông tin về chỉ số khối cơ thể hoặc dữ liệu bị thiếu.'

In [37]:
# mark zreo values as NaN (Not a Number)  0 trong các cột "Glucose", "BloodPressure", "SkinThickness", "Insulin", và "BMI" của DataFrame data1 thành NaN (Not a Number), để chỉ ra rằng các giá trị đó là dữ liệu bị thiếu hoặc không có ý nghĩa.

data1[["Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI"]] = \
    data1[["Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI"] ].replace (0, np.NaN) # .replace(0, np.NaN): Sử dụng phương thức replace để thay thế mọi giá trị 0 trong các cột đã chọn thành NaN (Not a Number). Điều này giúp đánh dấu các giá trị 0 là dữ liệu bị thiếu hoặc không có ý nghĩa.

In [40]:
data1.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1

In [43]:
# fill missing values of NaN with maen colum calues
data1 = data1.fillna(data1.mean())

In [45]:
data1.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.000000,35.00000,155.548223,33.600000,0.627,50,1
1,1,85.0,66.000000,29.00000,155.548223,26.600000,0.351,31,0
2,8,183.0,64.000000,29.15342,155.548223,23.300000,0.672,32,1
3,1,89.0,66.000000,23.00000,94.000000,28.100000,0.167,21,0
4,0,137.0,40.000000,35.00000,168.000000,43.100000,2.288,33,1
5,5,116.0,74.000000,29.15342,155.548223,25.600000,0.201,30,0
6,3,78.0,50.000000,32.00000,88.000000,31.000000,0.248,26,1
7,10,115.0,72.405184,29.15342,155.548223,35.300000,0.134,29,0
8,2,197.0,70.000000,45.00000,543.000000,30.500000,0.158,53,1
9,8,125.0,96.000000,29.15342,155.548223,32.457464,0.232,54,1

In [5]:
a = list ("3456789")
print(a[1])

4